@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.fnt1 {
  font-family: "Roboto Slab", serif;
}
* {
  font-family: "Roboto Slab", serif;
}
.navs {
  box-shadow: 0 0 10px gray;
}
#sideicon {
  left: 85%;
  top: 250px;
  position: fixed;
}
@media (min-width: 768px) {
  #sideicon {
    left: 95%;
  }
}

#sideicon a {
  width: 20px;
  font-size: 2rem;
}

#sideicon a:hover {
  color: rgba(104, 232, 255, 0.712) !important;
}

.card {
  padding: 3px;
  border-radius: 15px;
  box-shadow: 0 0 8px grey;
}

.card:hover {
  padding: 10px;
  color: green;
}
.blogs,
.about {
  margin-top: 120px;
  padding-bottom: 10px;
}
/* contact page css */

.contact {
  background-image: url();
}
.titlepage {
  color: rgb(35, 103, 163);
  border-bottom: 1px solid #48ca95;
  width: fit-content;
  margin-bottom: 10px;
}
.main_form {
  border: 1px solid rgb(209, 179, 179);
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}
input::placeholder {
  color: aliceblue;
  padding: 10px;
  font-size: 20px;
}
.contactus {
  padding: 10px;
  background-color: #4843a3;
  color: aliceblue;
  width: 300px;
  margin: 10px;
  border: 1px solid white;
}
.contact {
  /* border: 1px solid rgb(24, 21, 21); */
  padding: 10px 0px;
  box-shadow: 0 0 10px gray;
  border-radius: 35px;
}
.contact input[type="submit"] {
  width: 100%;
}

.textarea {
  padding: 10px;
  background-color: #4843a3;
  color: aliceblue;
  width: 300px;
  margin: 10px;
  border: 1px solid white;
}
.send_btn {
  font-size: 25px;
  justify-content: center;
  text-align: center;
  width: 120px;
  color: #ffffff;
  border: 1px solid #48ca95;
  border-radius: 10px;
  background-color: #4843a3;
  margin: 0 auto;
}
.send_btn:hover {
  background-color: #48ca95;
}
